<ion-header>
    <ion-toolbar>
        <ion-button (click) ="closeModal()">Back</ion-button>
        <ion-title>{{day.events.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="desc">
        {{day.events.description}}
    </div>
    <div class="time">
        <span>Début: </span>{{day.events.start_time | date:'dd MMMM yyyy à HH:mm'}}
    </div>
    <div class="time">
        <span>Fin: </span>{{day.events.end_time | date:'dd MMMM yyyy à HH:mm'}}
    </div>
    <div class="loc">
        <span>Lieu : </span>{{day.events.location}}
    </div>
    <ion-button></ion-button>
</ion-content>
